# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# ===================== #
# closed source stuff   #
# ===================== #
Assets/TK2DROOT/
Assets/TK2dROOT.meta
Assets/-tk2d.asset
Assets/-tk2d.asset.meta

# ==================================================== #
# stuff I'm not sure about license so not including it #
# ==================================================== #
Assets/Plugins*
Assets/Photon*